body{
    background-color: black;
    overflow: hidden;
}
div#messageArea {
    color: rgb(83, 175, 19);
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

/* new CSS */
.container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 80px);
}

.grid div {
    height: 80px;
}

.border {
    border: 2px solid #71991c;
    background-color: #30480a;
}

.no-border {
    color: #71991c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.hit {
    background: url("../img/ship.png") no-repeat center center;
    border: 2px solid #71991c;
    background-size: 65px 30px;

}
.miss {
    background: url("../img/miss.png") no-repeat center center;
    border: 2px solid #71991c;
    background-size: 65px 30px;
    }

    .hidden {
        display: none;
    }

    #restart {
        background-color: #53af13;
        color: black;
        font-size: 25px;
        border: none;
        margin-bottom: 15px;
        outline: none;
        font-weight: 900;
        padding: 6px;
        padding-bottom: 2px;
        padding-top: 2px;
        border-radius: 5px;
    }
@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(7, 45px);
    }

    .grid div {
        height: 45px;
    }
    .miss,
    .hit {
        background-size: 40px 25px;
    }
}
